<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QuoteEntry.Configuracion.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="QuoteEntry.Properties.Settings.Epicor10Test" connectionString="Data Source=GALGADOT;Initial Catalog=Epicor10Test;Persist Security Info=True;User ID=sa;Password=Susana7*"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <QuoteEntry.Configuracion.Config>
            <setting name="Password" serializeAs="String">
                <value>CotizCITALSA</value>
            </setting>
            <setting name="TaxCode" serializeAs="String">
                <value>V-IVAVENT</value>
            </setting>
            <setting name="CurrencyDefault" serializeAs="String">
                <value>COP</value>
            </setting>
            <setting name="ExchangeRateDefault" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShipViaCodeDefault" serializeAs="String">
                <value>TERR</value>
            </setting>
            <setting name="TaskSetID" serializeAs="String">
                <value>COTIZACI</value>
            </setting>
            <setting name="ActiveTaskID" serializeAs="String">
                <value>GANPER</value>
            </setting>
        </QuoteEntry.Configuracion.Config>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>